*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;

    body{
        background-image: url(RRJ_LOGO.png);
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-size: cover;
        backdrop-filter: blur(20px);
        
    }
    .navigation-bar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1px 10px;
        background-color: red;
    }
    .navigation{
        display: flex;
    }
    .left-content ,.right-content{
        display: flex;
        align-items: center;
    }
    .left-content li,.right-content li{
        margin-right: 25px;
        padding-top: 10px;
        list-style: none;
    }
    .left-content li a{
        text-decoration: none;
        color: white;
        font-weight: bolder;
        
    } 
    .left-content li a:hover{
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white,0 0 40px white,0 0 50px white,0 0 60px white,0 0 70px white;
    }
    .right-content li a:hover{
        text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white,0 0 40px white,0 0 50px white,0 0 60px white,0 0 70px white;
    }
    .right-content li a{
        text-decoration: none;
        color: white;
        font-size: 20px;
        cursor: pointer;
        font-weight: bolder;
        
    }
    .search-box{
        margin-top: 10px;
        margin-left: 5%;
        text-align: center;
        border-radius: 20px;
        height: 40px;
        width: 90%;
        font-size: 25px;
        color: blue;
        background-color: transparent;
    }
    .products{
        display: flex;
        margin-top: 50px;
        border: 2px solid black ;
        margin-left: 5%;
        margin-right: 20%;
    }
    .one{
        width: 200px;
        height: 200px;
        padding-right: 50px;
    }
    .products p{
        font-size: 30px;
        line-height: 40px;
    }
    .products button{
        margin-right: 30px;
        border-radius: 20px;
        background-color: indigo;
        color: white;
        height: 40px;
        width: 160px;
        margin-top: 25px;
    }
    .products button:hover{
        background-color: yellow;
        color: red;
    }
}